footer{
    width: 100%;
    background-color: #1F1D14;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    border-top: 20px solid #FBD029;
    .footer-items{
        width: 100%;
        // display: flex;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        row-gap: 40px;
        .footer-item1{
            img{
                width: 140px;
            }
        }
        .footer-item2{
            display: flex;
            flex-direction: column;
            gap: 15px;
            color: white;
        }
        .footer-item3{
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-top: 20px;
            color: white;
            p{
                display: flex;
                gap: 10px;
            }
        }
        .footer-item4{
            display: flex;
            flex-direction: column;
            gap: 5px;
            h3{
                color: white;
                padding-bottom: 15px;
            }
            input{
                padding: 10px;
                border: none;
                outline: none;
            }
            button{
                padding: 10px 0;
                border: none;
                background-color: #FBD029;
            }
            .foot-media{
                padding-top: 20px;
                display: flex;
                gap: 15px;
                font-size: 26px;
                color: white;
            }
        }
    }
}


@media (max-width:992px){
    footer{
        .footer-items{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width:480px){
    footer{
        .footer-items{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}