.onas{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #F2F2F2;
    padding-bottom: 50px;
    .onas-title{
        color: #1F1D14;
    }
    .onas-text{
        width: 100%;
        padding: 30px;
        border-radius: 10px;
        background-color: #1F1D14;
        p{
            color: white;
        }
    }
}